header {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 100;
  nav {
    display: flex;
    align-items: center;
    height: 90px;
  }
  .logo {
    width: 122px;
    height: 48px;
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dropdown {
      display: flex;
      @include breakpoint(medium down) {
        position: absolute;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 101;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 300ms ease;
        background: #000000;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        &.active {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
        }
        li a {
          color: #FFFFFF;
          font-size: 25px;
          margin-bottom: 30px;
          &.active {
            border-color: #FFFFFF;
          }
        }
      }
      @include breakpoint(large) {
        position: relative;
        flex-direction: row;
        height: inherit;
        background: #FFFFFF;
        li {
          margin-left: 30px;
        }
      }
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
          color: grey;
        }
        &.active {
          border-bottom: 1px solid #000000;
          padding-bottom: 3px;
          // @include breakpoint(large) {
          //
          // }
        }
      }
    }
  }
}

$tcon-size: 40px !default;
$tcon-transition: .3s !default;
$tcon-jstransform: 'tcon-transform' !default;

$tcon-menu-radius: ($tcon-size / 14) !default;
$tcon-menu-color: black !default;
$tcon-menu-arrowleft-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$tcon-menu-arrow360left-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;
.tcon {
  position: relative;
  z-index: 112;
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tcon-size;
  transition: $tcon-transition;
  user-select: none;
  width: $tcon-size;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  &.active {
    .tcon-menu__lines:before, .tcon-menu__lines:after {
      background: white !important;
    }
  }
  > * {
    display: block;
  }
  &:hover,
  &:focus {
    outline: none; // see issue #36 https://github.com/grayghostvisuals/transformicons/issues/36
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin tcon-menu-lines {
  display: inline-block;
  height: ($tcon-size / 7);
  width: $tcon-size;
  border-radius: $tcon-menu-radius;
  transition: $tcon-transition;
  background: $tcon-menu-color;
}

.tcon-menu__lines {
  @include tcon-menu-lines;
  position: relative;

  &::before,
  &::after {
    @include tcon-menu-lines;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: ($tcon-size / 14) center;
    width: 100%;
  }

  &::before {
    top: ($tcon-size / 4);
  }

  &::after {
    top: -($tcon-size / 4);
  }

  .#{$tcon-jstransform} & {
    transform: scale3d(.8, .8, .8);
  }
}
.tcon-menu--xcross {
  width: auto;

  &.#{$tcon-jstransform} {
    .tcon-menu__lines {
      background: transparent;

      &::before,
      &::after {
        transform-origin: 50% 50%;
        top: 0;
        width: $tcon-size;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
// see issue #7 https://github.com/grayghostvisuals/transformicons/issues/7#issuecomment-59813596
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
