.banner {
  height: calc(100vh - 90px);
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 450px;
    width: 100%;
  }
  h1 {
    font-size: 40px;
    @include breakpoint(medium) {
      font-size: 60px;
    }
    .typed {
      color: #D0011B;
    }
  }
  &__image {
    max-width: 650px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
