.service {
  padding: 50px 0 80px 0;
  text-align: center;
  &__headline {
    padding: 50px 0;
    text-align: left;
    h1 {
      text-transform: uppercase;
      font-weight: 800;
    }
    @include breakpoint(large) {
      display: flex;
      p {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
      }
      h1 {
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        border-right: 3px solid #D0011B;
      }
    }
  }
  &__web {
    .service__headline {
      padding-top: 120px;
    }
    .flexbox {
      justify-content: center;
      @include breakpoint(medium) {
        align-items: flex-start;
      }
    }
    &-step {
      text-align: left;
      display: flex;
      @include breakpoint(medium) {
        display: block;
        text-align: center;
      }
      &__icon {
        height: 135px;
      }
      &__content {
        margin-left: 50px;
        max-width: 300px;
        width: 100%;
        @include breakpoint(medium) {
          margin: 0 auto;
        }
      }
    }
  }
  &__marketing {
    background: #000000;
    color: white;
    .flexbox {
      flex-wrap: wrap;
    }
    h1 {
      border-color: white;
    }
    &-category {
      display: block;
      text-align: left;
      @include breakpoint(large) {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:first-of-type {
          border-right: 2px solid #FFFFFF;
          border-bottom: 2px solid #FFFFFF;
        }
        &:nth-of-type(2) {
          border-left: 2px solid #FFFFFF;
          border-bottom: 2px solid #FFFFFF;
        }
        &:nth-of-type(3) {
          border-right: 2px solid #FFFFFF;
          border-top: 2px solid #FFFFFF;
        }
        &:last-of-type {
          border-left: 2px solid #FFFFFF;
          border-top: 2px solid #FFFFFF;
        }
        p {
          position: absolute;
          max-width: 500px;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: 300ms ease;
        }
        h3 {
          opacity: 1;
          transition: 300ms ease;
        }
        &:hover {
          h3 {
            opacity: 0;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
    .btn {
      background: #FFFFFF;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      &:after {
        content: "Get Started";
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: #000000;
        z-index: 1;
        border: 1px solid #FFFFFF;
      }
    }
  }
}
