body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Pangram', sans-serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Pangram', sans-serif;
  font-weight: bold;
}
p, a {
  font-family: 'Pangram', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}

.btn {
  background: black;
  color: white;
  padding: 10px 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  transition: 300ms ease;
  &:hover {
    color: black;
    background: white;
  }
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint(large) {
    padding: 0 40px;
  }
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
  }
  // &__item {
  //   max-width: 500px;
  // }
  &__item-content {
    max-width: 350px;
    h1 {
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}
